In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('student_marks.csv')

In [5]:
df

     Student_Name  Maths  Physics  Chemistry  Computer_Science
0     Arjun Singh   49.0     55.0       48.0              80.0
1       Arjun Das   94.0     98.0       45.0              68.0
2    Vivaan Singh   95.0     40.0        NaN              49.0
3    Vivaan Patel   85.0      NaN       47.0               NaN
4       Sai Gupta    NaN      NaN        NaN              92.0
5     Aarav Mehta   87.0      NaN       78.0              66.0
6    Suresh Gupta   70.0     92.0        NaN               NaN
7    Aditya Patel   51.0     40.0        NaN              47.0
8     Rahul Reddy    NaN     51.0        NaN              83.0
9     Rahul Singh    NaN     56.0       90.0              55.0
10    Rahul Kumar    NaN      NaN       46.0               NaN
11        Sai Das   52.0      NaN        NaN               NaN
12  Karthik Reddy   36.0      NaN       83.0               NaN
13  Aditya Sharma   72.0     87.0        NaN               NaN
14   Nikhil Patel    NaN      NaN        NaN              76.0
15    Aarav Reddy    NaN      NaN       89.0              63.0
16    Rahul Singh   73.0     37.0        NaN              92.0
17  Karthik Kumar    NaN     68.0       63.0              58.0
18    Rahul Mehta   75.0     72.0        NaN              38.0
19    Vivaan Iyer   95.0      NaN        NaN               NaN
20      Sai Gupta   37.0      NaN       47.0              53.0
21    Rohan Verma    NaN      NaN        NaN               NaN
22    Arjun Gupta    NaN     49.0        NaN              98.0
23    Rohan Singh    NaN     50.0        NaN              67.0
24    Aarav Gupta    NaN     99.0        NaN              55.0
25   Suresh Kumar   90.0     64.0        NaN               NaN
26   Aditya Mehta   59.0     85.0       39.0              76.0
27    Aditya Iyer    NaN     78.0       92.0               NaN
28     Arjun Iyer   93.0     91.0        NaN               NaN
29  Karthik Gupta    NaN      NaN        NaN              88.0
30   Vivaan Patel   47.0      NaN        NaN              98.0
31     Sai Sharma    NaN     42.0        NaN               NaN
32   Vivaan Verma    NaN      NaN        NaN              98.0
33    Rahul Singh    NaN      NaN        NaN              88.0
34    Rahul Verma   43.0      NaN       77.0               NaN
35   Aditya Singh    NaN      NaN       60.0              57.0
36    Arjun Gupta   35.0     41.0        NaN              88.0
37    Rohan Verma   36.0      NaN        NaN              38.0
38    Aarav Gupta    NaN      NaN        NaN               NaN
39   Suresh Mehta    NaN      NaN       35.0              73.0
40   Suresh Gupta   49.0     98.0       48.0               NaN
41   Aditya Verma   75.0      NaN        NaN               NaN
42      Rohan Das    NaN     92.0       82.0              56.0
43    Arjun Verma   39.0     56.0       57.0               NaN
44  Karthik Kumar   52.0      NaN       69.0              62.0
45   Suresh Kumar    NaN     94.0        NaN               NaN
46   Nikhil Verma   90.0      NaN        NaN              93.0
47      Arjun Das    NaN      NaN        NaN              49.0
48    Rohan Gupta   37.0      NaN        NaN              85.0
49    Aarav Reddy    NaN     44.0        NaN               NaN

In [6]:
df['English'] = df['Maths']+1

In [7]:
df

     Student_Name  Maths  Physics  Chemistry  Computer_Science  English
0     Arjun Singh   49.0     55.0       48.0              80.0     50.0
1       Arjun Das   94.0     98.0       45.0              68.0     95.0
2    Vivaan Singh   95.0     40.0        NaN              49.0     96.0
3    Vivaan Patel   85.0      NaN       47.0               NaN     86.0
4       Sai Gupta    NaN      NaN        NaN              92.0      NaN
5     Aarav Mehta   87.0      NaN       78.0              66.0     88.0
6    Suresh Gupta   70.0     92.0        NaN               NaN     71.0
7    Aditya Patel   51.0     40.0        NaN              47.0     52.0
8     Rahul Reddy    NaN     51.0        NaN              83.0      NaN
9     Rahul Singh    NaN     56.0       90.0              55.0      NaN
10    Rahul Kumar    NaN      NaN       46.0               NaN      NaN
11        Sai Das   52.0      NaN        NaN               NaN     53.0
12  Karthik Reddy   36.0      NaN       83.0               NaN     37.0
13  Aditya Sharma   72.0     87.0        NaN               NaN     73.0
14   Nikhil Patel    NaN      NaN        NaN              76.0      NaN
15    Aarav Reddy    NaN      NaN       89.0              63.0      NaN
16    Rahul Singh   73.0     37.0        NaN              92.0     74.0
17  Karthik Kumar    NaN     68.0       63.0              58.0      NaN
18    Rahul Mehta   75.0     72.0        NaN              38.0     76.0
19    Vivaan Iyer   95.0      NaN        NaN               NaN     96.0
20      Sai Gupta   37.0      NaN       47.0              53.0     38.0
21    Rohan Verma    NaN      NaN        NaN               NaN      NaN
22    Arjun Gupta    NaN     49.0        NaN              98.0      NaN
23    Rohan Singh    NaN     50.0        NaN              67.0      NaN
24    Aarav Gupta    NaN     99.0        NaN              55.0      NaN
25   Suresh Kumar   90.0     64.0        NaN               NaN     91.0
26   Aditya Mehta   59.0     85.0       39.0              76.0     60.0
27    Aditya Iyer    NaN     78.0       92.0               NaN      NaN
28     Arjun Iyer   93.0     91.0        NaN               NaN     94.0
29  Karthik Gupta    NaN      NaN        NaN              88.0      NaN
30   Vivaan Patel   47.0      NaN        NaN              98.0     48.0
31     Sai Sharma    NaN     42.0        NaN               NaN      NaN
32   Vivaan Verma    NaN      NaN        NaN              98.0      NaN
33    Rahul Singh    NaN      NaN        NaN              88.0      NaN
34    Rahul Verma   43.0      NaN       77.0               NaN     44.0
35   Aditya Singh    NaN      NaN       60.0              57.0      NaN
36    Arjun Gupta   35.0     41.0        NaN              88.0     36.0
37    Rohan Verma   36.0      NaN        NaN              38.0     37.0
38    Aarav Gupta    NaN      NaN        NaN               NaN      NaN
39   Suresh Mehta    NaN      NaN       35.0              73.0      NaN
40   Suresh Gupta   49.0     98.0       48.0               NaN     50.0
41   Aditya Verma   75.0      NaN        NaN               NaN     76.0
42      Rohan Das    NaN     92.0       82.0              56.0      NaN
43    Arjun Verma   39.0     56.0       57.0               NaN     40.0
44  Karthik Kumar   52.0      NaN       69.0              62.0     53.0
45   Suresh Kumar    NaN     94.0        NaN               NaN      NaN
46   Nikhil Verma   90.0      NaN        NaN              93.0     91.0
47      Arjun Das    NaN      NaN        NaN              49.0      NaN
48    Rohan Gupta   37.0      NaN        NaN              85.0     38.0
49    Aarav Reddy    NaN     44.0        NaN               NaN      NaN

In [8]:
df['math_group'] = pd.cut(df['Maths'],bins=[20,60,100],labels=['20-60','60-100'])

In [9]:
df

,Student_Name,Maths,Physics,Chemistry,Computer_Science,English,math_group
0,Arjun Singh,49.0,55.0,48.0,80.0,50.0,20-60
1,Arjun Das,94.0,98.0,45.0,68.0,95.0,60-100
2,Vivaan Singh,95.0,40.0,NaN,49.0,96.0,60-100
3,Vivaan Patel,85.0,NaN,47.0,NaN,86.0,60-100
4,Sai Gupta,NaN,NaN,NaN,92.0,NaN,NaN
5,Aarav Mehta,87.0,NaN,78.0,66.0,88.0,60-100
6,Suresh Gupta,70.0,92.0,NaN,NaN,71.0,60-100
7,Aditya Patel,51.0,40.0,NaN,47.0,52.0,20-60
8,Rahul Reddy,NaN,51.0,NaN,83.0,NaN,NaN
9,Rahul Singh,NaN,56.0,90.0,55.0,NaN,NaN
10,Rahul Kumar,NaN,NaN,46.0,NaN,NaN,NaN
11,Sai Das,52.0,NaN,NaN,NaN,53.0,20-60
12,Karthik Reddy,36.0,NaN,83.0,NaN,37.0,20-60
13,Aditya Sharma,72.0,87.0,NaN,NaN,73.0,60-100
14,Nikhil Patel,NaN,NaN,NaN,76.0,NaN,NaN
15,Aarav Reddy,NaN,NaN,89.0,63.0,NaN,NaN
16,Rahul Singh,73.0,37.0,NaN,92.0,74.0,60-100
17,Karthik Kumar,NaN,68.0,63.0,58.0,NaN,NaN
18,Rahul Mehta,75.0,72.0,NaN,38.0,76.0,60-100
19,Vivaan Iyer,95.0,NaN,NaN,NaN,96.0,60-100
20,Sai Gupta,37.0,NaN,47.0,53.0,38.0,20-60
21,Rohan Verma,NaN,NaN,NaN,NaN,NaN,NaN
22,Arjun Gupta,NaN,49.0,NaN,98.0,NaN,NaN
23,Rohan Singh,NaN,50.0,NaN,67.0,NaN,NaN
24,Aarav Gupta,NaN,99.0,NaN,55.0,NaN,NaN
25,Suresh Kumar,90.0,64.0,NaN,NaN,91.0,60-100
26,Aditya Mehta,59.0,85.0,39.0,76.0,60.0,20-60
27,Aditya Iyer,NaN,78.0,92.0,NaN,NaN,NaN
28,Arjun Iyer,93.0,91.0,NaN,NaN,94.0,60-100
29,Karthik Gupta,NaN,NaN,NaN,88.0,NaN,NaN
30,Vivaan Patel,47.0,NaN,NaN,98.0,48.0,20-60
31,Sai Sharma,NaN,42.0,NaN,NaN,NaN,NaN
32,Vivaan Verma,NaN,NaN,NaN,98.0,NaN,NaN
33,Rahul Singh,NaN,NaN,NaN,88.0,NaN,NaN
34,Rahul Verma,43.0,NaN,77.0,NaN,44.0,20-60
35,Aditya Singh,NaN,NaN,60.0,57.0,NaN,NaN
36,Arjun Gupta,35.0,41.0,NaN,88.0,36.0,20-60
37,Rohan Verma,36.0,NaN,NaN,38.0,37.0,20-60
38,Aarav Gupta,NaN,NaN,NaN,NaN,NaN,NaN
39,Suresh Mehta,NaN,NaN,35.0,73.0,NaN,NaN
40,Suresh Gupta,49.0,98.0,48.0,NaN,50.0,20-60
41,Aditya Verma,75.0,NaN,NaN,NaN,76.0,60-100
42,Rohan Das,NaN,92.0,82.0,56.0,NaN,NaN
43,Arjun Verma,39.0,56.0,57.0,NaN,40.0,20-60
44,Karthik Kumar,52.0,NaN,69.0,62.0,53.0,20-60
45,Suresh Kumar,NaN,94.0,NaN,NaN,NaN,NaN
46,Nikhil Verma,90.0,NaN,NaN,93.0,91.0,60-100
47,Arjun Das,NaN,NaN,NaN,49.0,NaN,NaN
48,Rohan Gupta,37.0,NaN,NaN,85.0,38.0,20-60
49,Aarav Reddy,NaN,44.0,NaN,NaN,NaN,NaN

In [11]:
df['name_length'] = df['Student_Name'].apply(len)

In [12]:
df

,Student_Name,Maths,Physics,Chemistry,Computer_Science,English,math_group,name_length
0,Arjun Singh,49.0,55.0,48.0,80.0,50.0,20-60,11
1,Arjun Das,94.0,98.0,45.0,68.0,95.0,60-100,9
2,Vivaan Singh,95.0,40.0,NaN,49.0,96.0,60-100,12
3,Vivaan Patel,85.0,NaN,47.0,NaN,86.0,60-100,12
4,Sai Gupta,NaN,NaN,NaN,92.0,NaN,NaN,9
5,Aarav Mehta,87.0,NaN,78.0,66.0,88.0,60-100,11
6,Suresh Gupta,70.0,92.0,NaN,NaN,71.0,60-100,12
7,Aditya Patel,51.0,40.0,NaN,47.0,52.0,20-60,12
8,Rahul Reddy,NaN,51.0,NaN,83.0,NaN,NaN,11
9,Rahul Singh,NaN,56.0,90.0,55.0,NaN,NaN,11
10,Rahul Kumar,NaN,NaN,46.0,NaN,NaN,NaN,11
11,Sai Das,52.0,NaN,NaN,NaN,53.0,20-60,7
12,Karthik Reddy,36.0,NaN,83.0,NaN,37.0,20-60,13
13,Aditya Sharma,72.0,87.0,NaN,NaN,73.0,60-100,13
14,Nikhil Patel,NaN,NaN,NaN,76.0,NaN,NaN,12
15,Aarav Reddy,NaN,NaN,89.0,63.0,NaN,NaN,11
16,Rahul Singh,73.0,37.0,NaN,92.0,74.0,60-100,11
17,Karthik Kumar,NaN,68.0,63.0,58.0,NaN,NaN,13
18,Rahul Mehta,75.0,72.0,NaN,38.0,76.0,60-100,11
19,Vivaan Iyer,95.0,NaN,NaN,NaN,96.0,60-100,11
20,Sai Gupta,37.0,NaN,47.0,53.0,38.0,20-60,9
21,Rohan Verma,NaN,NaN,NaN,NaN,NaN,NaN,11
22,Arjun Gupta,NaN,49.0,NaN,98.0,NaN,NaN,11
23,Rohan Singh,NaN,50.0,NaN,67.0,NaN,NaN,11
24,Aarav Gupta,NaN,99.0,NaN,55.0,NaN,NaN,11
25,Suresh Kumar,90.0,64.0,NaN,NaN,91.0,60-100,12
26,Aditya Mehta,59.0,85.0,39.0,76.0,60.0,20-60,12
27,Aditya Iyer,NaN,78.0,92.0,NaN,NaN,NaN,11
28,Arjun Iyer,93.0,91.0,NaN,NaN,94.0,60-100,10
29,Karthik Gupta,NaN,NaN,NaN,88.0,NaN,NaN,13
30,Vivaan Patel,47.0,NaN,NaN,98.0,48.0,20-60,12
31,Sai Sharma,NaN,42.0,NaN,NaN,NaN,NaN,10
32,Vivaan Verma,NaN,NaN,NaN,98.0,NaN,NaN,12
33,Rahul Singh,NaN,NaN,NaN,88.0,NaN,NaN,11
34,Rahul Verma,43.0,NaN,77.0,NaN,44.0,20-60,11
35,Aditya Singh,NaN,NaN,60.0,57.0,NaN,NaN,12
36,Arjun Gupta,35.0,41.0,NaN,88.0,36.0,20-60,11
37,Rohan Verma,36.0,NaN,NaN,38.0,37.0,20-60,11
38,Aarav Gupta,NaN,NaN,NaN,NaN,NaN,NaN,11
39,Suresh Mehta,NaN,NaN,35.0,73.0,NaN,NaN,12
40,Suresh Gupta,49.0,98.0,48.0,NaN,50.0,20-60,12
41,Aditya Verma,75.0,NaN,NaN,NaN,76.0,60-100,12
42,Rohan Das,NaN,92.0,82.0,56.0,NaN,NaN,9
43,Arjun Verma,39.0,56.0,57.0,NaN,40.0,20-60,11
44,Karthik Kumar,52.0,NaN,69.0,62.0,53.0,20-60,13
45,Suresh Kumar,NaN,94.0,NaN,NaN,NaN,NaN,12
46,Nikhil Verma,90.0,NaN,NaN,93.0,91.0,60-100,12
47,Arjun Das,NaN,NaN,NaN,49.0,NaN,NaN,9
48,Rohan Gupta,37.0,NaN,NaN,85.0,38.0,20-60,11
49,Aarav Reddy,NaN,44.0,NaN,NaN,NaN,NaN,11

In [14]:
import numpy as np
df['math_grade'] = np.where(df['Maths']>70,'A','B')

In [15]:
df

,Student_Name,Maths,Physics,Chemistry,Computer_Science,English,math_group,name_length,math_grade
0,Arjun Singh,49.0,55.0,48.0,80.0,50.0,20-60,11,B
1,Arjun Das,94.0,98.0,45.0,68.0,95.0,60-100,9,A
2,Vivaan Singh,95.0,40.0,NaN,49.0,96.0,60-100,12,A
3,Vivaan Patel,85.0,NaN,47.0,NaN,86.0,60-100,12,A
4,Sai Gupta,NaN,NaN,NaN,92.0,NaN,NaN,9,B
5,Aarav Mehta,87.0,NaN,78.0,66.0,88.0,60-100,11,A
6,Suresh Gupta,70.0,92.0,NaN,NaN,71.0,60-100,12,B
7,Aditya Patel,51.0,40.0,NaN,47.0,52.0,20-60,12,B
8,Rahul Reddy,NaN,51.0,NaN,83.0,NaN,NaN,11,B
9,Rahul Singh,NaN,56.0,90.0,55.0,NaN,NaN,11,B
10,Rahul Kumar,NaN,NaN,46.0,NaN,NaN,NaN,11,B
11,Sai Das,52.0,NaN,NaN,NaN,53.0,20-60,7,B
12,Karthik Reddy,36.0,NaN,83.0,NaN,37.0,20-60,13,B
13,Aditya Sharma,72.0,87.0,NaN,NaN,73.0,60-100,13,A
14,Nikhil Patel,NaN,NaN,NaN,76.0,NaN,NaN,12,B
15,Aarav Reddy,NaN,NaN,89.0,63.0,NaN,NaN,11,B
16,Rahul Singh,73.0,37.0,NaN,92.0,74.0,60-100,11,A
17,Karthik Kumar,NaN,68.0,63.0,58.0,NaN,NaN,13,B
18,Rahul Mehta,75.0,72.0,NaN,38.0,76.0,60-100,11,A
19,Vivaan Iyer,95.0,NaN,NaN,NaN,96.0,60-100,11,A
20,Sai Gupta,37.0,NaN,47.0,53.0,38.0,20-60,9,B
21,Rohan Verma,NaN,NaN,NaN,NaN,NaN,NaN,11,B
22,Arjun Gupta,NaN,49.0,NaN,98.0,NaN,NaN,11,B
23,Rohan Singh,NaN,50.0,NaN,67.0,NaN,NaN,11,B
24,Aarav Gupta,NaN,99.0,NaN,55.0,NaN,NaN,11,B
25,Suresh Kumar,90.0,64.0,NaN,NaN,91.0,60-100,12,A
26,Aditya Mehta,59.0,85.0,39.0,76.0,60.0,20-60,12,B
27,Aditya Iyer,NaN,78.0,92.0,NaN,NaN,NaN,11,B
28,Arjun Iyer,93.0,91.0,NaN,NaN,94.0,60-100,10,A
29,Karthik Gupta,NaN,NaN,NaN,88.0,NaN,NaN,13,B
30,Vivaan Patel,47.0,NaN,NaN,98.0,48.0,20-60,12,B
31,Sai Sharma,NaN,42.0,NaN,NaN,NaN,NaN,10,B
32,Vivaan Verma,NaN,NaN,NaN,98.0,NaN,NaN,12,B
33,Rahul Singh,NaN,NaN,NaN,88.0,NaN,NaN,11,B
34,Rahul Verma,43.0,NaN,77.0,NaN,44.0,20-60,11,B
35,Aditya Singh,NaN,NaN,60.0,57.0,NaN,NaN,12,B
36,Arjun Gupta,35.0,41.0,NaN,88.0,36.0,20-60,11,B
37,Rohan Verma,36.0,NaN,NaN,38.0,37.0,20-60,11,B
38,Aarav Gupta,NaN,NaN,NaN,NaN,NaN,NaN,11,B
39,Suresh Mehta,NaN,NaN,35.0,73.0,NaN,NaN,12,B
40,Suresh Gupta,49.0,98.0,48.0,NaN,50.0,20-60,12,B
41,Aditya Verma,75.0,NaN,NaN,NaN,76.0,60-100,12,A
42,Rohan Das,NaN,92.0,82.0,56.0,NaN,NaN,9,B
43,Arjun Verma,39.0,56.0,57.0,NaN,40.0,20-60,11,B
44,Karthik Kumar,52.0,NaN,69.0,62.0,53.0,20-60,13,B
45,Suresh Kumar,NaN,94.0,NaN,NaN,NaN,NaN,12,B
46,Nikhil Verma,90.0,NaN,NaN,93.0,91.0,60-100,12,A
47,Arjun Das,NaN,NaN,NaN,49.0,NaN,NaN,9,B
48,Rohan Gupta,37.0,NaN,NaN,85.0,38.0,20-60,11,B
49,Aarav Reddy,NaN,44.0,NaN,NaN,NaN,NaN,11,B

In [16]:
conditions = [ df['Chemistry']<40,
               df['Chemistry'].between(40,75),
               df['Chemistry']>75
             ]
choices = ['Low','Medium','High']

In [17]:
df['Chemistry_category'] = np.select(conditions,choices,default = 'Unknown')

In [18]:
df

,Student_Name,Maths,Physics,Chemistry,Computer_Science,English,math_group,name_length,math_grade,Chemistry_category
0,Arjun Singh,49.0,55.0,48.0,80.0,50.0,20-60,11,B,Medium
1,Arjun Das,94.0,98.0,45.0,68.0,95.0,60-100,9,A,Medium
2,Vivaan Singh,95.0,40.0,NaN,49.0,96.0,60-100,12,A,Unknown
3,Vivaan Patel,85.0,NaN,47.0,NaN,86.0,60-100,12,A,Medium
4,Sai Gupta,NaN,NaN,NaN,92.0,NaN,NaN,9,B,Unknown
5,Aarav Mehta,87.0,NaN,78.0,66.0,88.0,60-100,11,A,High
6,Suresh Gupta,70.0,92.0,NaN,NaN,71.0,60-100,12,B,Unknown
7,Aditya Patel,51.0,40.0,NaN,47.0,52.0,20-60,12,B,Unknown
8,Rahul Reddy,NaN,51.0,NaN,83.0,NaN,NaN,11,B,Unknown
9,Rahul Singh,NaN,56.0,90.0,55.0,NaN,NaN,11,B,High
10,Rahul Kumar,NaN,NaN,46.0,NaN,NaN,NaN,11,B,Medium
11,Sai Das,52.0,NaN,NaN,NaN,53.0,20-60,7,B,Unknown
12,Karthik Reddy,36.0,NaN,83.0,NaN,37.0,20-60,13,B,High
13,Aditya Sharma,72.0,87.0,NaN,NaN,73.0,60-100,13,A,Unknown
14,Nikhil Patel,NaN,NaN,NaN,76.0,NaN,NaN,12,B,Unknown
15,Aarav Reddy,NaN,NaN,89.0,63.0,NaN,NaN,11,B,High
16,Rahul Singh,73.0,37.0,NaN,92.0,74.0,60-100,11,A,Unknown
17,Karthik Kumar,NaN,68.0,63.0,58.0,NaN,NaN,13,B,Medium
18,Rahul Mehta,75.0,72.0,NaN,38.0,76.0,60-100,11,A,Unknown
19,Vivaan Iyer,95.0,NaN,NaN,NaN,96.0,60-100,11,A,Unknown
20,Sai Gupta,37.0,NaN,47.0,53.0,38.0,20-60,9,B,Medium
21,Rohan Verma,NaN,NaN,NaN,NaN,NaN,NaN,11,B,Unknown
22,Arjun Gupta,NaN,49.0,NaN,98.0,NaN,NaN,11,B,Unknown
23,Rohan Singh,NaN,50.0,NaN,67.0,NaN,NaN,11,B,Unknown
24,Aarav Gupta,NaN,99.0,NaN,55.0,NaN,NaN,11,B,Unknown
25,Suresh Kumar,90.0,64.0,NaN,NaN,91.0,60-100,12,A,Unknown
26,Aditya Mehta,59.0,85.0,39.0,76.0,60.0,20-60,12,B,Low
27,Aditya Iyer,NaN,78.0,92.0,NaN,NaN,NaN,11,B,High
28,Arjun Iyer,93.0,91.0,NaN,NaN,94.0,60-100,10,A,Unknown
29,Karthik Gupta,NaN,NaN,NaN,88.0,NaN,NaN,13,B,Unknown
30,Vivaan Patel,47.0,NaN,NaN,98.0,48.0,20-60,12,B,Unknown
31,Sai Sharma,NaN,42.0,NaN,NaN,NaN,NaN,10,B,Unknown
32,Vivaan Verma,NaN,NaN,NaN,98.0,NaN,NaN,12,B,Unknown
33,Rahul Singh,NaN,NaN,NaN,88.0,NaN,NaN,11,B,Unknown
34,Rahul Verma,43.0,NaN,77.0,NaN,44.0,20-60,11,B,High
35,Aditya Singh,NaN,NaN,60.0,57.0,NaN,NaN,12,B,Medium
36,Arjun Gupta,35.0,41.0,NaN,88.0,36.0,20-60,11,B,Unknown
37,Rohan Verma,36.0,NaN,NaN,38.0,37.0,20-60,11,B,Unknown
38,Aarav Gupta,NaN,NaN,NaN,NaN,NaN,NaN,11,B,Unknown
39,Suresh Mehta,NaN,NaN,35.0,73.0,NaN,NaN,12,B,Low
40,Suresh Gupta,49.0,98.0,48.0,NaN,50.0,20-60,12,B,Medium
41,Aditya Verma,75.0,NaN,NaN,NaN,76.0,60-100,12,A,Unknown
42,Rohan Das,NaN,92.0,82.0,56.0,NaN,NaN,9,B,High
43,Arjun Verma,39.0,56.0,57.0,NaN,40.0,20-60,11,B,Medium
44,Karthik Kumar,52.0,NaN,69.0,62.0,53.0,20-60,13,B,Medium
45,Suresh Kumar,NaN,94.0,NaN,NaN,NaN,NaN,12,B,Unknown
46,Nikhil Verma,90.0,NaN,NaN,93.0,91.0,60-100,12,A,Unknown
47,Arjun Das,NaN,NaN,NaN,49.0,NaN,NaN,9,B,Unknown
48,Rohan Gupta,37.0,NaN,NaN,85.0,38.0,20-60,11,B,Unknown
49,Aarav Reddy,NaN,44.0,NaN,NaN,NaN,NaN,11,B,Unknown

In [19]:
df.insert(5,'Hindi',[67,45,87,98,48,37,48],True)  #give 50 values

ValueError: Length of values (7) does not match length of index (50)

In [21]:
df.assign(Kannada = [98,87,76,45,67,89]) #give 50 values

ValueError: Length of values (6) does not match length of index (50)