In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('student_marks.csv')

In [3]:
df

     Student_Name  Maths  Physics  Chemistry  Computer_Science
0     Arjun Singh   49.0     55.0       48.0              80.0
1       Arjun Das   94.0     98.0       45.0              68.0
2    Vivaan Singh   95.0     40.0        NaN              49.0
3    Vivaan Patel   85.0      NaN       47.0               NaN
4       Sai Gupta    NaN      NaN        NaN              92.0
5     Aarav Mehta   87.0      NaN       78.0              66.0
6    Suresh Gupta   70.0     92.0        NaN               NaN
7    Aditya Patel   51.0     40.0        NaN              47.0
8     Rahul Reddy    NaN     51.0        NaN              83.0
9     Rahul Singh    NaN     56.0       90.0              55.0
10    Rahul Kumar    NaN      NaN       46.0               NaN
11        Sai Das   52.0      NaN        NaN               NaN
12  Karthik Reddy   36.0      NaN       83.0               NaN
13  Aditya Sharma   72.0     87.0        NaN               NaN
14   Nikhil Patel    NaN      NaN        NaN              76.0
15    Aarav Reddy    NaN      NaN       89.0              63.0
16    Rahul Singh   73.0     37.0        NaN              92.0
17  Karthik Kumar    NaN     68.0       63.0              58.0
18    Rahul Mehta   75.0     72.0        NaN              38.0
19    Vivaan Iyer   95.0      NaN        NaN               NaN
20      Sai Gupta   37.0      NaN       47.0              53.0
21    Rohan Verma    NaN      NaN        NaN               NaN
22    Arjun Gupta    NaN     49.0        NaN              98.0
23    Rohan Singh    NaN     50.0        NaN              67.0
24    Aarav Gupta    NaN     99.0        NaN              55.0
25   Suresh Kumar   90.0     64.0        NaN               NaN
26   Aditya Mehta   59.0     85.0       39.0              76.0
27    Aditya Iyer    NaN     78.0       92.0               NaN
28     Arjun Iyer   93.0     91.0        NaN               NaN
29  Karthik Gupta    NaN      NaN        NaN              88.0
30   Vivaan Patel   47.0      NaN        NaN              98.0
31     Sai Sharma    NaN     42.0        NaN               NaN
32   Vivaan Verma    NaN      NaN        NaN              98.0
33    Rahul Singh    NaN      NaN        NaN              88.0
34    Rahul Verma   43.0      NaN       77.0               NaN
35   Aditya Singh    NaN      NaN       60.0              57.0
36    Arjun Gupta   35.0     41.0        NaN              88.0
37    Rohan Verma   36.0      NaN        NaN              38.0
38    Aarav Gupta    NaN      NaN        NaN               NaN
39   Suresh Mehta    NaN      NaN       35.0              73.0
40   Suresh Gupta   49.0     98.0       48.0               NaN
41   Aditya Verma   75.0      NaN        NaN               NaN
42      Rohan Das    NaN     92.0       82.0              56.0
43    Arjun Verma   39.0     56.0       57.0               NaN
44  Karthik Kumar   52.0      NaN       69.0              62.0
45   Suresh Kumar    NaN     94.0        NaN               NaN
46   Nikhil Verma   90.0      NaN        NaN              93.0
47      Arjun Das    NaN      NaN        NaN              49.0
48    Rohan Gupta   37.0      NaN        NaN              85.0
49    Arjun Singh   49.0     55.0       48.0              80.0

In [4]:
df.isna()

    Student_Name  Maths  Physics  Chemistry  Computer_Science
0          False  False    False      False             False
1          False  False    False      False             False
2          False  False    False       True             False
3          False  False     True      False              True
4          False   True     True       True             False
5          False  False     True      False             False
6          False  False    False       True              True
7          False  False    False       True             False
8          False   True    False       True             False
9          False   True    False      False             False
10         False   True     True      False              True
11         False  False     True       True              True
12         False  False     True      False              True
13         False  False    False       True              True
14         False   True     True       True             False
15         False   True     True      False             False
16         False  False    False       True             False
17         False   True    False      False             False
18         False  False    False       True             False
19         False  False     True       True              True
20         False  False     True      False             False
21         False   True     True       True              True
22         False   True    False       True             False
23         False   True    False       True             False
24         False   True    False       True             False
25         False  False    False       True              True
26         False  False    False      False             False
27         False   True    False      False              True
28         False  False    False       True              True
29         False   True     True       True             False
30         False  False     True       True             False
31         False   True    False       True              True
32         False   True     True       True             False
33         False   True     True       True             False
34         False  False     True      False              True
35         False   True     True      False             False
36         False  False    False       True             False
37         False  False     True       True             False
38         False   True     True       True              True
39         False   True     True      False             False
40         False  False    False      False              True
41         False  False     True       True              True
42         False   True    False      False             False
43         False  False    False      False              True
44         False  False     True      False             False
45         False   True    False       True              True
46         False  False     True       True             False
47         False   True     True       True             False
48         False  False     True       True             False
49         False  False    False      False             False

In [5]:
df.isna().sum()

Student_Name         0
Maths               22
Physics             25
Chemistry           30
Computer_Science    18
dtype: int64

In [6]:
df.isna().sum().sum()

np.int64(95)

In [7]:
df.dropna()

    Student_Name  Maths  Physics  Chemistry  Computer_Science
0    Arjun Singh   49.0     55.0       48.0              80.0
1      Arjun Das   94.0     98.0       45.0              68.0
26  Aditya Mehta   59.0     85.0       39.0              76.0
49   Arjun Singh   49.0     55.0       48.0              80.0

In [8]:
df.dropna(axis=0)

    Student_Name  Maths  Physics  Chemistry  Computer_Science
0    Arjun Singh   49.0     55.0       48.0              80.0
1      Arjun Das   94.0     98.0       45.0              68.0
26  Aditya Mehta   59.0     85.0       39.0              76.0
49   Arjun Singh   49.0     55.0       48.0              80.0

In [9]:
df.fillna('Fill')

     Student_Name Maths Physics Chemistry Computer_Science
0     Arjun Singh  49.0    55.0      48.0             80.0
1       Arjun Das  94.0    98.0      45.0             68.0
2    Vivaan Singh  95.0    40.0      Fill             49.0
3    Vivaan Patel  85.0    Fill      47.0             Fill
4       Sai Gupta  Fill    Fill      Fill             92.0
5     Aarav Mehta  87.0    Fill      78.0             66.0
6    Suresh Gupta  70.0    92.0      Fill             Fill
7    Aditya Patel  51.0    40.0      Fill             47.0
8     Rahul Reddy  Fill    51.0      Fill             83.0
9     Rahul Singh  Fill    56.0      90.0             55.0
10    Rahul Kumar  Fill    Fill      46.0             Fill
11        Sai Das  52.0    Fill      Fill             Fill
12  Karthik Reddy  36.0    Fill      83.0             Fill
13  Aditya Sharma  72.0    87.0      Fill             Fill
14   Nikhil Patel  Fill    Fill      Fill             76.0
15    Aarav Reddy  Fill    Fill      89.0             63.0
16    Rahul Singh  73.0    37.0      Fill             92.0
17  Karthik Kumar  Fill    68.0      63.0             58.0
18    Rahul Mehta  75.0    72.0      Fill             38.0
19    Vivaan Iyer  95.0    Fill      Fill             Fill
20      Sai Gupta  37.0    Fill      47.0             53.0
21    Rohan Verma  Fill    Fill      Fill             Fill
22    Arjun Gupta  Fill    49.0      Fill             98.0
23    Rohan Singh  Fill    50.0      Fill             67.0
24    Aarav Gupta  Fill    99.0      Fill             55.0
25   Suresh Kumar  90.0    64.0      Fill             Fill
26   Aditya Mehta  59.0    85.0      39.0             76.0
27    Aditya Iyer  Fill    78.0      92.0             Fill
28     Arjun Iyer  93.0    91.0      Fill             Fill
29  Karthik Gupta  Fill    Fill      Fill             88.0
30   Vivaan Patel  47.0    Fill      Fill             98.0
31     Sai Sharma  Fill    42.0      Fill             Fill
32   Vivaan Verma  Fill    Fill      Fill             98.0
33    Rahul Singh  Fill    Fill      Fill             88.0
34    Rahul Verma  43.0    Fill      77.0             Fill
35   Aditya Singh  Fill    Fill      60.0             57.0
36    Arjun Gupta  35.0    41.0      Fill             88.0
37    Rohan Verma  36.0    Fill      Fill             38.0
38    Aarav Gupta  Fill    Fill      Fill             Fill
39   Suresh Mehta  Fill    Fill      35.0             73.0
40   Suresh Gupta  49.0    98.0      48.0             Fill
41   Aditya Verma  75.0    Fill      Fill             Fill
42      Rohan Das  Fill    92.0      82.0             56.0
43    Arjun Verma  39.0    56.0      57.0             Fill
44  Karthik Kumar  52.0    Fill      69.0             62.0
45   Suresh Kumar  Fill    94.0      Fill             Fill
46   Nikhil Verma  90.0    Fill      Fill             93.0
47      Arjun Das  Fill    Fill      Fill             49.0
48    Rohan Gupta  37.0    Fill      Fill             85.0
49    Arjun Singh  49.0    55.0      48.0             80.0

In [10]:
df.fillna(45)

     Student_Name  Maths  Physics  Chemistry  Computer_Science
0     Arjun Singh   49.0     55.0       48.0              80.0
1       Arjun Das   94.0     98.0       45.0              68.0
2    Vivaan Singh   95.0     40.0       45.0              49.0
3    Vivaan Patel   85.0     45.0       47.0              45.0
4       Sai Gupta   45.0     45.0       45.0              92.0
5     Aarav Mehta   87.0     45.0       78.0              66.0
6    Suresh Gupta   70.0     92.0       45.0              45.0
7    Aditya Patel   51.0     40.0       45.0              47.0
8     Rahul Reddy   45.0     51.0       45.0              83.0
9     Rahul Singh   45.0     56.0       90.0              55.0
10    Rahul Kumar   45.0     45.0       46.0              45.0
11        Sai Das   52.0     45.0       45.0              45.0
12  Karthik Reddy   36.0     45.0       83.0              45.0
13  Aditya Sharma   72.0     87.0       45.0              45.0
14   Nikhil Patel   45.0     45.0       45.0              76.0
15    Aarav Reddy   45.0     45.0       89.0              63.0
16    Rahul Singh   73.0     37.0       45.0              92.0
17  Karthik Kumar   45.0     68.0       63.0              58.0
18    Rahul Mehta   75.0     72.0       45.0              38.0
19    Vivaan Iyer   95.0     45.0       45.0              45.0
20      Sai Gupta   37.0     45.0       47.0              53.0
21    Rohan Verma   45.0     45.0       45.0              45.0
22    Arjun Gupta   45.0     49.0       45.0              98.0
23    Rohan Singh   45.0     50.0       45.0              67.0
24    Aarav Gupta   45.0     99.0       45.0              55.0
25   Suresh Kumar   90.0     64.0       45.0              45.0
26   Aditya Mehta   59.0     85.0       39.0              76.0
27    Aditya Iyer   45.0     78.0       92.0              45.0
28     Arjun Iyer   93.0     91.0       45.0              45.0
29  Karthik Gupta   45.0     45.0       45.0              88.0
30   Vivaan Patel   47.0     45.0       45.0              98.0
31     Sai Sharma   45.0     42.0       45.0              45.0
32   Vivaan Verma   45.0     45.0       45.0              98.0
33    Rahul Singh   45.0     45.0       45.0              88.0
34    Rahul Verma   43.0     45.0       77.0              45.0
35   Aditya Singh   45.0     45.0       60.0              57.0
36    Arjun Gupta   35.0     41.0       45.0              88.0
37    Rohan Verma   36.0     45.0       45.0              38.0
38    Aarav Gupta   45.0     45.0       45.0              45.0
39   Suresh Mehta   45.0     45.0       35.0              73.0
40   Suresh Gupta   49.0     98.0       48.0              45.0
41   Aditya Verma   75.0     45.0       45.0              45.0
42      Rohan Das   45.0     92.0       82.0              56.0
43    Arjun Verma   39.0     56.0       57.0              45.0
44  Karthik Kumar   52.0     45.0       69.0              62.0
45   Suresh Kumar   45.0     94.0       45.0              45.0
46   Nikhil Verma   90.0     45.0       45.0              93.0
47      Arjun Das   45.0     45.0       45.0              49.0
48    Rohan Gupta   37.0     45.0       45.0              85.0
49    Arjun Singh   49.0     55.0       48.0              80.0

In [11]:
df.duplicated(keep=False)

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49     True
dtype: bool

In [12]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49     True
dtype: bool

In [13]:
df.duplicated(keep = False)

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49     True
dtype: bool

In [18]:
df.duplicated(keep = 'last')

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
dtype: bool

In [20]:
df.drop_duplicates()

     Student_Name  Maths  Physics  Chemistry  Computer_Science
0     Arjun Singh   49.0     55.0       48.0              80.0
1       Arjun Das   94.0     98.0       45.0              68.0
2    Vivaan Singh   95.0     40.0        NaN              49.0
3    Vivaan Patel   85.0      NaN       47.0               NaN
4       Sai Gupta    NaN      NaN        NaN              92.0
5     Aarav Mehta   87.0      NaN       78.0              66.0
6    Suresh Gupta   70.0     92.0        NaN               NaN
7    Aditya Patel   51.0     40.0        NaN              47.0
8     Rahul Reddy    NaN     51.0        NaN              83.0
9     Rahul Singh    NaN     56.0       90.0              55.0
10    Rahul Kumar    NaN      NaN       46.0               NaN
11        Sai Das   52.0      NaN        NaN               NaN
12  Karthik Reddy   36.0      NaN       83.0               NaN
13  Aditya Sharma   72.0     87.0        NaN               NaN
14   Nikhil Patel    NaN      NaN        NaN              76.0
15    Aarav Reddy    NaN      NaN       89.0              63.0
16    Rahul Singh   73.0     37.0        NaN              92.0
17  Karthik Kumar    NaN     68.0       63.0              58.0
18    Rahul Mehta   75.0     72.0        NaN              38.0
19    Vivaan Iyer   95.0      NaN        NaN               NaN
20      Sai Gupta   37.0      NaN       47.0              53.0
21    Rohan Verma    NaN      NaN        NaN               NaN
22    Arjun Gupta    NaN     49.0        NaN              98.0
23    Rohan Singh    NaN     50.0        NaN              67.0
24    Aarav Gupta    NaN     99.0        NaN              55.0
25   Suresh Kumar   90.0     64.0        NaN               NaN
26   Aditya Mehta   59.0     85.0       39.0              76.0
27    Aditya Iyer    NaN     78.0       92.0               NaN
28     Arjun Iyer   93.0     91.0        NaN               NaN
29  Karthik Gupta    NaN      NaN        NaN              88.0
30   Vivaan Patel   47.0      NaN        NaN              98.0
31     Sai Sharma    NaN     42.0        NaN               NaN
32   Vivaan Verma    NaN      NaN        NaN              98.0
33    Rahul Singh    NaN      NaN        NaN              88.0
34    Rahul Verma   43.0      NaN       77.0               NaN
35   Aditya Singh    NaN      NaN       60.0              57.0
36    Arjun Gupta   35.0     41.0        NaN              88.0
37    Rohan Verma   36.0      NaN        NaN              38.0
38    Aarav Gupta    NaN      NaN        NaN               NaN
39   Suresh Mehta    NaN      NaN       35.0              73.0
40   Suresh Gupta   49.0     98.0       48.0               NaN
41   Aditya Verma   75.0      NaN        NaN               NaN
42      Rohan Das    NaN     92.0       82.0              56.0
43    Arjun Verma   39.0     56.0       57.0               NaN
44  Karthik Kumar   52.0      NaN       69.0              62.0
45   Suresh Kumar    NaN     94.0        NaN               NaN
46   Nikhil Verma   90.0      NaN        NaN              93.0
47      Arjun Das    NaN      NaN        NaN              49.0
48    Rohan Gupta   37.0      NaN        NaN              85.0

In [21]:
df.drop_duplicates(keep = 'last')

     Student_Name  Maths  Physics  Chemistry  Computer_Science
1       Arjun Das   94.0     98.0       45.0              68.0
2    Vivaan Singh   95.0     40.0        NaN              49.0
3    Vivaan Patel   85.0      NaN       47.0               NaN
4       Sai Gupta    NaN      NaN        NaN              92.0
5     Aarav Mehta   87.0      NaN       78.0              66.0
6    Suresh Gupta   70.0     92.0        NaN               NaN
7    Aditya Patel   51.0     40.0        NaN              47.0
8     Rahul Reddy    NaN     51.0        NaN              83.0
9     Rahul Singh    NaN     56.0       90.0              55.0
10    Rahul Kumar    NaN      NaN       46.0               NaN
11        Sai Das   52.0      NaN        NaN               NaN
12  Karthik Reddy   36.0      NaN       83.0               NaN
13  Aditya Sharma   72.0     87.0        NaN               NaN
14   Nikhil Patel    NaN      NaN        NaN              76.0
15    Aarav Reddy    NaN      NaN       89.0              63.0
16    Rahul Singh   73.0     37.0        NaN              92.0
17  Karthik Kumar    NaN     68.0       63.0              58.0
18    Rahul Mehta   75.0     72.0        NaN              38.0
19    Vivaan Iyer   95.0      NaN        NaN               NaN
20      Sai Gupta   37.0      NaN       47.0              53.0
21    Rohan Verma    NaN      NaN        NaN               NaN
22    Arjun Gupta    NaN     49.0        NaN              98.0
23    Rohan Singh    NaN     50.0        NaN              67.0
24    Aarav Gupta    NaN     99.0        NaN              55.0
25   Suresh Kumar   90.0     64.0        NaN               NaN
26   Aditya Mehta   59.0     85.0       39.0              76.0
27    Aditya Iyer    NaN     78.0       92.0               NaN
28     Arjun Iyer   93.0     91.0        NaN               NaN
29  Karthik Gupta    NaN      NaN        NaN              88.0
30   Vivaan Patel   47.0      NaN        NaN              98.0
31     Sai Sharma    NaN     42.0        NaN               NaN
32   Vivaan Verma    NaN      NaN        NaN              98.0
33    Rahul Singh    NaN      NaN        NaN              88.0
34    Rahul Verma   43.0      NaN       77.0               NaN
35   Aditya Singh    NaN      NaN       60.0              57.0
36    Arjun Gupta   35.0     41.0        NaN              88.0
37    Rohan Verma   36.0      NaN        NaN              38.0
38    Aarav Gupta    NaN      NaN        NaN               NaN
39   Suresh Mehta    NaN      NaN       35.0              73.0
40   Suresh Gupta   49.0     98.0       48.0               NaN
41   Aditya Verma   75.0      NaN        NaN               NaN
42      Rohan Das    NaN     92.0       82.0              56.0
43    Arjun Verma   39.0     56.0       57.0               NaN
44  Karthik Kumar   52.0      NaN       69.0              62.0
45   Suresh Kumar    NaN     94.0        NaN               NaN
46   Nikhil Verma   90.0      NaN        NaN              93.0
47      Arjun Das    NaN      NaN        NaN              49.0
48    Rohan Gupta   37.0      NaN        NaN              85.0
49    Arjun Singh   49.0     55.0       48.0              80.0

In [25]:
df.drop_duplicates(subset=['Student_Name','Maths'])

     Student_Name  Maths  Physics  Chemistry  Computer_Science
0     Arjun Singh   49.0     55.0       48.0              80.0
1       Arjun Das   94.0     98.0       45.0              68.0
2    Vivaan Singh   95.0     40.0        NaN              49.0
3    Vivaan Patel   85.0      NaN       47.0               NaN
4       Sai Gupta    NaN      NaN        NaN              92.0
5     Aarav Mehta   87.0      NaN       78.0              66.0
6    Suresh Gupta   70.0     92.0        NaN               NaN
7    Aditya Patel   51.0     40.0        NaN              47.0
8     Rahul Reddy    NaN     51.0        NaN              83.0
9     Rahul Singh    NaN     56.0       90.0              55.0
10    Rahul Kumar    NaN      NaN       46.0               NaN
11        Sai Das   52.0      NaN        NaN               NaN
12  Karthik Reddy   36.0      NaN       83.0               NaN
13  Aditya Sharma   72.0     87.0        NaN               NaN
14   Nikhil Patel    NaN      NaN        NaN              76.0
15    Aarav Reddy    NaN      NaN       89.0              63.0
16    Rahul Singh   73.0     37.0        NaN              92.0
17  Karthik Kumar    NaN     68.0       63.0              58.0
18    Rahul Mehta   75.0     72.0        NaN              38.0
19    Vivaan Iyer   95.0      NaN        NaN               NaN
20      Sai Gupta   37.0      NaN       47.0              53.0
21    Rohan Verma    NaN      NaN        NaN               NaN
22    Arjun Gupta    NaN     49.0        NaN              98.0
23    Rohan Singh    NaN     50.0        NaN              67.0
24    Aarav Gupta    NaN     99.0        NaN              55.0
25   Suresh Kumar   90.0     64.0        NaN               NaN
26   Aditya Mehta   59.0     85.0       39.0              76.0
27    Aditya Iyer    NaN     78.0       92.0               NaN
28     Arjun Iyer   93.0     91.0        NaN               NaN
29  Karthik Gupta    NaN      NaN        NaN              88.0
30   Vivaan Patel   47.0      NaN        NaN              98.0
31     Sai Sharma    NaN     42.0        NaN               NaN
32   Vivaan Verma    NaN      NaN        NaN              98.0
34    Rahul Verma   43.0      NaN       77.0               NaN
35   Aditya Singh    NaN      NaN       60.0              57.0
36    Arjun Gupta   35.0     41.0        NaN              88.0
37    Rohan Verma   36.0      NaN        NaN              38.0
39   Suresh Mehta    NaN      NaN       35.0              73.0
40   Suresh Gupta   49.0     98.0       48.0               NaN
41   Aditya Verma   75.0      NaN        NaN               NaN
42      Rohan Das    NaN     92.0       82.0              56.0
43    Arjun Verma   39.0     56.0       57.0               NaN
44  Karthik Kumar   52.0      NaN       69.0              62.0
45   Suresh Kumar    NaN     94.0        NaN               NaN
46   Nikhil Verma   90.0      NaN        NaN              93.0
47      Arjun Das    NaN      NaN        NaN              49.0
48    Rohan Gupta   37.0      NaN        NaN              85.0