In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('student_marks.csv')

In [3]:
df['Student_Name'] = df['Student_Name'].str.upper()

In [4]:
df

     Student_Name  Maths  Physics  Chemistry  Computer_Science
0     ARJUN SINGH   49.0     55.0       48.0              80.0
1       ARJUN DAS   94.0     98.0       45.0              68.0
2    VIVAAN SINGH   95.0     40.0        NaN              49.0
3    VIVAAN PATEL   85.0      NaN       47.0               NaN
4       SAI GUPTA    NaN      NaN        NaN              92.0
5     AARAV MEHTA   87.0      NaN       78.0              66.0
6    SURESH GUPTA   70.0     92.0        NaN               NaN
7    ADITYA PATEL   51.0     40.0        NaN              47.0
8     RAHUL REDDY    NaN     51.0        NaN              83.0
9     RAHUL SINGH    NaN     56.0       90.0              55.0
10    RAHUL KUMAR    NaN      NaN       46.0               NaN
11        SAI DAS   52.0      NaN        NaN               NaN
12  KARTHIK REDDY   36.0      NaN       83.0               NaN
13  ADITYA SHARMA   72.0     87.0        NaN               NaN
14   NIKHIL PATEL    NaN      NaN        NaN              76.0
15    AARAV REDDY    NaN      NaN       89.0              63.0
16    RAHUL SINGH   73.0     37.0        NaN              92.0
17  KARTHIK KUMAR    NaN     68.0       63.0              58.0
18    RAHUL MEHTA   75.0     72.0        NaN              38.0
19    VIVAAN IYER   95.0      NaN        NaN               NaN
20      SAI GUPTA   37.0      NaN       47.0              53.0
21    ROHAN VERMA    NaN      NaN        NaN               NaN
22    ARJUN GUPTA    NaN     49.0        NaN              98.0
23    ROHAN SINGH    NaN     50.0        NaN              67.0
24    AARAV GUPTA    NaN     99.0        NaN              55.0
25   SURESH KUMAR   90.0     64.0        NaN               NaN
26   ADITYA MEHTA   59.0     85.0       39.0              76.0
27    ADITYA IYER    NaN     78.0       92.0               NaN
28     ARJUN IYER   93.0     91.0        NaN               NaN
29  KARTHIK GUPTA    NaN      NaN        NaN              88.0
30   VIVAAN PATEL   47.0      NaN        NaN              98.0
31     SAI SHARMA    NaN     42.0        NaN               NaN
32   VIVAAN VERMA    NaN      NaN        NaN              98.0
33    RAHUL SINGH    NaN      NaN        NaN              88.0
34    RAHUL VERMA   43.0      NaN       77.0               NaN
35   ADITYA SINGH    NaN      NaN       60.0              57.0
36    ARJUN GUPTA   35.0     41.0        NaN              88.0
37    ROHAN VERMA   36.0      NaN        NaN              38.0
38    AARAV GUPTA    NaN      NaN        NaN               NaN
39   SURESH MEHTA    NaN      NaN       35.0              73.0
40   SURESH GUPTA   49.0     98.0       48.0               NaN
41   ADITYA VERMA   75.0      NaN        NaN               NaN
42      ROHAN DAS    NaN     92.0       82.0              56.0
43    ARJUN VERMA   39.0     56.0       57.0               NaN
44  KARTHIK KUMAR   52.0      NaN       69.0              62.0
45   SURESH KUMAR    NaN     94.0        NaN               NaN
46   NIKHIL VERMA   90.0      NaN        NaN              93.0
47      ARJUN DAS    NaN      NaN        NaN              49.0
48    ROHAN GUPTA   37.0      NaN        NaN              85.0
49    AARAV REDDY    NaN     44.0        NaN               NaN

In [5]:
df['Maths'] = df['Maths']* 1.10

In [6]:
df

     Student_Name  Maths  Physics  Chemistry  Computer_Science
0     ARJUN SINGH   53.9     55.0       48.0              80.0
1       ARJUN DAS  103.4     98.0       45.0              68.0
2    VIVAAN SINGH  104.5     40.0        NaN              49.0
3    VIVAAN PATEL   93.5      NaN       47.0               NaN
4       SAI GUPTA    NaN      NaN        NaN              92.0
5     AARAV MEHTA   95.7      NaN       78.0              66.0
6    SURESH GUPTA   77.0     92.0        NaN               NaN
7    ADITYA PATEL   56.1     40.0        NaN              47.0
8     RAHUL REDDY    NaN     51.0        NaN              83.0
9     RAHUL SINGH    NaN     56.0       90.0              55.0
10    RAHUL KUMAR    NaN      NaN       46.0               NaN
11        SAI DAS   57.2      NaN        NaN               NaN
12  KARTHIK REDDY   39.6      NaN       83.0               NaN
13  ADITYA SHARMA   79.2     87.0        NaN               NaN
14   NIKHIL PATEL    NaN      NaN        NaN              76.0
15    AARAV REDDY    NaN      NaN       89.0              63.0
16    RAHUL SINGH   80.3     37.0        NaN              92.0
17  KARTHIK KUMAR    NaN     68.0       63.0              58.0
18    RAHUL MEHTA   82.5     72.0        NaN              38.0
19    VIVAAN IYER  104.5      NaN        NaN               NaN
20      SAI GUPTA   40.7      NaN       47.0              53.0
21    ROHAN VERMA    NaN      NaN        NaN               NaN
22    ARJUN GUPTA    NaN     49.0        NaN              98.0
23    ROHAN SINGH    NaN     50.0        NaN              67.0
24    AARAV GUPTA    NaN     99.0        NaN              55.0
25   SURESH KUMAR   99.0     64.0        NaN               NaN
26   ADITYA MEHTA   64.9     85.0       39.0              76.0
27    ADITYA IYER    NaN     78.0       92.0               NaN
28     ARJUN IYER  102.3     91.0        NaN               NaN
29  KARTHIK GUPTA    NaN      NaN        NaN              88.0
30   VIVAAN PATEL   51.7      NaN        NaN              98.0
31     SAI SHARMA    NaN     42.0        NaN               NaN
32   VIVAAN VERMA    NaN      NaN        NaN              98.0
33    RAHUL SINGH    NaN      NaN        NaN              88.0
34    RAHUL VERMA   47.3      NaN       77.0               NaN
35   ADITYA SINGH    NaN      NaN       60.0              57.0
36    ARJUN GUPTA   38.5     41.0        NaN              88.0
37    ROHAN VERMA   39.6      NaN        NaN              38.0
38    AARAV GUPTA    NaN      NaN        NaN               NaN
39   SURESH MEHTA    NaN      NaN       35.0              73.0
40   SURESH GUPTA   53.9     98.0       48.0               NaN
41   ADITYA VERMA   82.5      NaN        NaN               NaN
42      ROHAN DAS    NaN     92.0       82.0              56.0
43    ARJUN VERMA   42.9     56.0       57.0               NaN
44  KARTHIK KUMAR   57.2      NaN       69.0              62.0
45   SURESH KUMAR    NaN     94.0        NaN               NaN
46   NIKHIL VERMA   99.0      NaN        NaN              93.0
47      ARJUN DAS    NaN      NaN        NaN              49.0
48    ROHAN GUPTA   40.7      NaN        NaN              85.0
49    AARAV REDDY    NaN     44.0        NaN               NaN

In [7]:
df['Maths'] = df['Maths'].round(-1)

In [8]:
df

     Student_Name  Maths  Physics  Chemistry  Computer_Science
0     ARJUN SINGH   50.0     55.0       48.0              80.0
1       ARJUN DAS  100.0     98.0       45.0              68.0
2    VIVAAN SINGH  100.0     40.0        NaN              49.0
3    VIVAAN PATEL   90.0      NaN       47.0               NaN
4       SAI GUPTA    NaN      NaN        NaN              92.0
5     AARAV MEHTA  100.0      NaN       78.0              66.0
6    SURESH GUPTA   80.0     92.0        NaN               NaN
7    ADITYA PATEL   60.0     40.0        NaN              47.0
8     RAHUL REDDY    NaN     51.0        NaN              83.0
9     RAHUL SINGH    NaN     56.0       90.0              55.0
10    RAHUL KUMAR    NaN      NaN       46.0               NaN
11        SAI DAS   60.0      NaN        NaN               NaN
12  KARTHIK REDDY   40.0      NaN       83.0               NaN
13  ADITYA SHARMA   80.0     87.0        NaN               NaN
14   NIKHIL PATEL    NaN      NaN        NaN              76.0
15    AARAV REDDY    NaN      NaN       89.0              63.0
16    RAHUL SINGH   80.0     37.0        NaN              92.0
17  KARTHIK KUMAR    NaN     68.0       63.0              58.0
18    RAHUL MEHTA   80.0     72.0        NaN              38.0
19    VIVAAN IYER  100.0      NaN        NaN               NaN
20      SAI GUPTA   40.0      NaN       47.0              53.0
21    ROHAN VERMA    NaN      NaN        NaN               NaN
22    ARJUN GUPTA    NaN     49.0        NaN              98.0
23    ROHAN SINGH    NaN     50.0        NaN              67.0
24    AARAV GUPTA    NaN     99.0        NaN              55.0
25   SURESH KUMAR  100.0     64.0        NaN               NaN
26   ADITYA MEHTA   60.0     85.0       39.0              76.0
27    ADITYA IYER    NaN     78.0       92.0               NaN
28     ARJUN IYER  100.0     91.0        NaN               NaN
29  KARTHIK GUPTA    NaN      NaN        NaN              88.0
30   VIVAAN PATEL   50.0      NaN        NaN              98.0
31     SAI SHARMA    NaN     42.0        NaN               NaN
32   VIVAAN VERMA    NaN      NaN        NaN              98.0
33    RAHUL SINGH    NaN      NaN        NaN              88.0
34    RAHUL VERMA   50.0      NaN       77.0               NaN
35   ADITYA SINGH    NaN      NaN       60.0              57.0
36    ARJUN GUPTA   40.0     41.0        NaN              88.0
37    ROHAN VERMA   40.0      NaN        NaN              38.0
38    AARAV GUPTA    NaN      NaN        NaN               NaN
39   SURESH MEHTA    NaN      NaN       35.0              73.0
40   SURESH GUPTA   50.0     98.0       48.0               NaN
41   ADITYA VERMA   80.0      NaN        NaN               NaN
42      ROHAN DAS    NaN     92.0       82.0              56.0
43    ARJUN VERMA   40.0     56.0       57.0               NaN
44  KARTHIK KUMAR   60.0      NaN       69.0              62.0
45   SURESH KUMAR    NaN     94.0        NaN               NaN
46   NIKHIL VERMA  100.0      NaN        NaN              93.0
47      ARJUN DAS    NaN      NaN        NaN              49.0
48    ROHAN GUPTA   40.0      NaN        NaN              85.0
49    AARAV REDDY    NaN     44.0        NaN               NaN