In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('student_marks.csv')

In [3]:
df

     Student_Name  Maths  Physics  Chemistry  Computer_Science
0     Arjun Singh   49.0     55.0       48.0              80.0
1       Arjun Das   94.0     98.0       45.0              68.0
2    Vivaan Singh   95.0     40.0        NaN              49.0
3    Vivaan Patel   85.0      NaN       47.0               NaN
4       Sai Gupta    NaN      NaN        NaN              92.0
5     Aarav Mehta   87.0      NaN       78.0              66.0
6    Suresh Gupta   70.0     92.0        NaN               NaN
7    Aditya Patel   51.0     40.0        NaN              47.0
8     Rahul Reddy    NaN     51.0        NaN              83.0
9     Rahul Singh    NaN     56.0       90.0              55.0
10    Rahul Kumar    NaN      NaN       46.0               NaN
11        Sai Das   52.0      NaN        NaN               NaN
12  Karthik Reddy   36.0      NaN       83.0               NaN
13  Aditya Sharma   72.0     87.0        NaN               NaN
14   Nikhil Patel    NaN      NaN        NaN              76.0
15    Aarav Reddy    NaN      NaN       89.0              63.0
16    Rahul Singh   73.0     37.0        NaN              92.0
17  Karthik Kumar    NaN     68.0       63.0              58.0
18    Rahul Mehta   75.0     72.0        NaN              38.0
19    Vivaan Iyer   95.0      NaN        NaN               NaN
20      Sai Gupta   37.0      NaN       47.0              53.0
21    Rohan Verma    NaN      NaN        NaN               NaN
22    Arjun Gupta    NaN     49.0        NaN              98.0
23    Rohan Singh    NaN     50.0        NaN              67.0
24    Aarav Gupta    NaN     99.0        NaN              55.0
25   Suresh Kumar   90.0     64.0        NaN               NaN
26   Aditya Mehta   59.0     85.0       39.0              76.0
27    Aditya Iyer    NaN     78.0       92.0               NaN
28     Arjun Iyer   93.0     91.0        NaN               NaN
29  Karthik Gupta    NaN      NaN        NaN              88.0
30   Vivaan Patel   47.0      NaN        NaN              98.0
31     Sai Sharma    NaN     42.0        NaN               NaN
32   Vivaan Verma    NaN      NaN        NaN              98.0
33    Rahul Singh    NaN      NaN        NaN              88.0
34    Rahul Verma   43.0      NaN       77.0               NaN
35   Aditya Singh    NaN      NaN       60.0              57.0
36    Arjun Gupta   35.0     41.0        NaN              88.0
37    Rohan Verma   36.0      NaN        NaN              38.0
38    Aarav Gupta    NaN      NaN        NaN               NaN
39   Suresh Mehta    NaN      NaN       35.0              73.0
40   Suresh Gupta   49.0     98.0       48.0               NaN
41   Aditya Verma   75.0      NaN        NaN               NaN
42      Rohan Das    NaN     92.0       82.0              56.0
43    Arjun Verma   39.0     56.0       57.0               NaN
44  Karthik Kumar   52.0      NaN       69.0              62.0
45   Suresh Kumar    NaN     94.0        NaN               NaN
46   Nikhil Verma   90.0      NaN        NaN              93.0
47      Arjun Das    NaN      NaN        NaN              49.0
48    Rohan Gupta   37.0      NaN        NaN              85.0
49    Aarav Reddy    NaN     44.0        NaN               NaN

In [4]:
df['Student_Name']

0       Arjun Singh
1         Arjun Das
2      Vivaan Singh
3      Vivaan Patel
4         Sai Gupta
5       Aarav Mehta
6      Suresh Gupta
7      Aditya Patel
8       Rahul Reddy
9       Rahul Singh
10      Rahul Kumar
11          Sai Das
12    Karthik Reddy
13    Aditya Sharma
14     Nikhil Patel
15      Aarav Reddy
16      Rahul Singh
17    Karthik Kumar
18      Rahul Mehta
19      Vivaan Iyer
20        Sai Gupta
21      Rohan Verma
22      Arjun Gupta
23      Rohan Singh
24      Aarav Gupta
25     Suresh Kumar
26     Aditya Mehta
27      Aditya Iyer
28       Arjun Iyer
29    Karthik Gupta
30     Vivaan Patel
31       Sai Sharma
32     Vivaan Verma
33      Rahul Singh
34      Rahul Verma
35     Aditya Singh
36      Arjun Gupta
37      Rohan Verma
38      Aarav Gupta
39     Suresh Mehta
40     Suresh Gupta
41     Aditya Verma
42        Rohan Das
43      Arjun Verma
44    Karthik Kumar
45     Suresh Kumar
46     Nikhil Verma
47        Arjun Das
48      Rohan Gupta
49      Aarav Reddy
Name: Student_Name, dtype: str

In [5]:
df[['Student_Name','Maths','Computer_Science']]

     Student_Name  Maths  Computer_Science
0     Arjun Singh   49.0              80.0
1       Arjun Das   94.0              68.0
2    Vivaan Singh   95.0              49.0
3    Vivaan Patel   85.0               NaN
4       Sai Gupta    NaN              92.0
5     Aarav Mehta   87.0              66.0
6    Suresh Gupta   70.0               NaN
7    Aditya Patel   51.0              47.0
8     Rahul Reddy    NaN              83.0
9     Rahul Singh    NaN              55.0
10    Rahul Kumar    NaN               NaN
11        Sai Das   52.0               NaN
12  Karthik Reddy   36.0               NaN
13  Aditya Sharma   72.0               NaN
14   Nikhil Patel    NaN              76.0
15    Aarav Reddy    NaN              63.0
16    Rahul Singh   73.0              92.0
17  Karthik Kumar    NaN              58.0
18    Rahul Mehta   75.0              38.0
19    Vivaan Iyer   95.0               NaN
20      Sai Gupta   37.0              53.0
21    Rohan Verma    NaN               NaN
22    Arjun Gupta    NaN              98.0
23    Rohan Singh    NaN              67.0
24    Aarav Gupta    NaN              55.0
25   Suresh Kumar   90.0               NaN
26   Aditya Mehta   59.0              76.0
27    Aditya Iyer    NaN               NaN
28     Arjun Iyer   93.0               NaN
29  Karthik Gupta    NaN              88.0
30   Vivaan Patel   47.0              98.0
31     Sai Sharma    NaN               NaN
32   Vivaan Verma    NaN              98.0
33    Rahul Singh    NaN              88.0
34    Rahul Verma   43.0               NaN
35   Aditya Singh    NaN              57.0
36    Arjun Gupta   35.0              88.0
37    Rohan Verma   36.0              38.0
38    Aarav Gupta    NaN               NaN
39   Suresh Mehta    NaN              73.0
40   Suresh Gupta   49.0               NaN
41   Aditya Verma   75.0               NaN
42      Rohan Das    NaN              56.0
43    Arjun Verma   39.0               NaN
44  Karthik Kumar   52.0              62.0
45   Suresh Kumar    NaN               NaN
46   Nikhil Verma   90.0              93.0
47      Arjun Das    NaN              49.0
48    Rohan Gupta   37.0              85.0
49    Aarav Reddy    NaN               NaN

In [6]:
df[['Student_Name']]

     Student_Name
0     Arjun Singh
1       Arjun Das
2    Vivaan Singh
3    Vivaan Patel
4       Sai Gupta
5     Aarav Mehta
6    Suresh Gupta
7    Aditya Patel
8     Rahul Reddy
9     Rahul Singh
10    Rahul Kumar
11        Sai Das
12  Karthik Reddy
13  Aditya Sharma
14   Nikhil Patel
15    Aarav Reddy
16    Rahul Singh
17  Karthik Kumar
18    Rahul Mehta
19    Vivaan Iyer
20      Sai Gupta
21    Rohan Verma
22    Arjun Gupta
23    Rohan Singh
24    Aarav Gupta
25   Suresh Kumar
26   Aditya Mehta
27    Aditya Iyer
28     Arjun Iyer
29  Karthik Gupta
30   Vivaan Patel
31     Sai Sharma
32   Vivaan Verma
33    Rahul Singh
34    Rahul Verma
35   Aditya Singh
36    Arjun Gupta
37    Rohan Verma
38    Aarav Gupta
39   Suresh Mehta
40   Suresh Gupta
41   Aditya Verma
42      Rohan Das
43    Arjun Verma
44  Karthik Kumar
45   Suresh Kumar
46   Nikhil Verma
47      Arjun Das
48    Rohan Gupta
49    Aarav Reddy

In [7]:
numeric_cols = df.select_dtypes(include=['int64','float64'])

In [8]:
numeric_cols

    Maths  Physics  Chemistry  Computer_Science
0    49.0     55.0       48.0              80.0
1    94.0     98.0       45.0              68.0
2    95.0     40.0        NaN              49.0
3    85.0      NaN       47.0               NaN
4     NaN      NaN        NaN              92.0
5    87.0      NaN       78.0              66.0
6    70.0     92.0        NaN               NaN
7    51.0     40.0        NaN              47.0
8     NaN     51.0        NaN              83.0
9     NaN     56.0       90.0              55.0
10    NaN      NaN       46.0               NaN
11   52.0      NaN        NaN               NaN
12   36.0      NaN       83.0               NaN
13   72.0     87.0        NaN               NaN
14    NaN      NaN        NaN              76.0
15    NaN      NaN       89.0              63.0
16   73.0     37.0        NaN              92.0
17    NaN     68.0       63.0              58.0
18   75.0     72.0        NaN              38.0
19   95.0      NaN        NaN               NaN
20   37.0      NaN       47.0              53.0
21    NaN      NaN        NaN               NaN
22    NaN     49.0        NaN              98.0
23    NaN     50.0        NaN              67.0
24    NaN     99.0        NaN              55.0
25   90.0     64.0        NaN               NaN
26   59.0     85.0       39.0              76.0
27    NaN     78.0       92.0               NaN
28   93.0     91.0        NaN               NaN
29    NaN      NaN        NaN              88.0
30   47.0      NaN        NaN              98.0
31    NaN     42.0        NaN               NaN
32    NaN      NaN        NaN              98.0
33    NaN      NaN        NaN              88.0
34   43.0      NaN       77.0               NaN
35    NaN      NaN       60.0              57.0
36   35.0     41.0        NaN              88.0
37   36.0      NaN        NaN              38.0
38    NaN      NaN        NaN               NaN
39    NaN      NaN       35.0              73.0
40   49.0     98.0       48.0               NaN
41   75.0      NaN        NaN               NaN
42    NaN     92.0       82.0              56.0
43   39.0     56.0       57.0               NaN
44   52.0      NaN       69.0              62.0
45    NaN     94.0        NaN               NaN
46   90.0      NaN        NaN              93.0
47    NaN      NaN        NaN              49.0
48   37.0      NaN        NaN              85.0
49    NaN     44.0        NaN               NaN

In [9]:
string_cols = df.select_dtypes(include=['str'])

In [10]:
string_cols

     Student_Name
0     Arjun Singh
1       Arjun Das
2    Vivaan Singh
3    Vivaan Patel
4       Sai Gupta
5     Aarav Mehta
6    Suresh Gupta
7    Aditya Patel
8     Rahul Reddy
9     Rahul Singh
10    Rahul Kumar
11        Sai Das
12  Karthik Reddy
13  Aditya Sharma
14   Nikhil Patel
15    Aarav Reddy
16    Rahul Singh
17  Karthik Kumar
18    Rahul Mehta
19    Vivaan Iyer
20      Sai Gupta
21    Rohan Verma
22    Arjun Gupta
23    Rohan Singh
24    Aarav Gupta
25   Suresh Kumar
26   Aditya Mehta
27    Aditya Iyer
28     Arjun Iyer
29  Karthik Gupta
30   Vivaan Patel
31     Sai Sharma
32   Vivaan Verma
33    Rahul Singh
34    Rahul Verma
35   Aditya Singh
36    Arjun Gupta
37    Rohan Verma
38    Aarav Gupta
39   Suresh Mehta
40   Suresh Gupta
41   Aditya Verma
42      Rohan Das
43    Arjun Verma
44  Karthik Kumar
45   Suresh Kumar
46   Nikhil Verma
47      Arjun Das
48    Rohan Gupta
49    Aarav Reddy

In [11]:
high_marks = df[df['Computer_Science']>80]

In [12]:
high_marks

     Student_Name  Maths  Physics  Chemistry  Computer_Science
4       Sai Gupta    NaN      NaN        NaN              92.0
8     Rahul Reddy    NaN     51.0        NaN              83.0
16    Rahul Singh   73.0     37.0        NaN              92.0
22    Arjun Gupta    NaN     49.0        NaN              98.0
29  Karthik Gupta    NaN      NaN        NaN              88.0
30   Vivaan Patel   47.0      NaN        NaN              98.0
32   Vivaan Verma    NaN      NaN        NaN              98.0
33    Rahul Singh    NaN      NaN        NaN              88.0
36    Arjun Gupta   35.0     41.0        NaN              88.0
46   Nikhil Verma   90.0      NaN        NaN              93.0
48    Rohan Gupta   37.0      NaN        NaN              85.0

In [13]:
maths_cs = df[(df['Maths']>80)&(df['Computer_Science']>80)]

In [14]:
maths_cs

    Student_Name  Maths  Physics  Chemistry  Computer_Science
46  Nikhil Verma   90.0      NaN        NaN              93.0