In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('student_marks.csv')

In [3]:
df_sort1 = df.sort_values('Maths',ascending = False)

In [4]:
df_sort1

     Student_Name  Maths  Physics  Chemistry  Computer_Science
2    Vivaan Singh   95.0     40.0        NaN              49.0
19    Vivaan Iyer   95.0      NaN        NaN               NaN
1       Arjun Das   94.0     98.0       45.0              68.0
28     Arjun Iyer   93.0     91.0        NaN               NaN
25   Suresh Kumar   90.0     64.0        NaN               NaN
46   Nikhil Verma   90.0      NaN        NaN              93.0
5     Aarav Mehta   87.0      NaN       78.0              66.0
3    Vivaan Patel   85.0      NaN       47.0               NaN
41   Aditya Verma   75.0      NaN        NaN               NaN
18    Rahul Mehta   75.0     72.0        NaN              38.0
16    Rahul Singh   73.0     37.0        NaN              92.0
13  Aditya Sharma   72.0     87.0        NaN               NaN
6    Suresh Gupta   70.0     92.0        NaN               NaN
26   Aditya Mehta   59.0     85.0       39.0              76.0
11        Sai Das   52.0      NaN        NaN               NaN
44  Karthik Kumar   52.0      NaN       69.0              62.0
7    Aditya Patel   51.0     40.0        NaN              47.0
40   Suresh Gupta   49.0     98.0       48.0               NaN
0     Arjun Singh   49.0     55.0       48.0              80.0
30   Vivaan Patel   47.0      NaN        NaN              98.0
34    Rahul Verma   43.0      NaN       77.0               NaN
43    Arjun Verma   39.0     56.0       57.0               NaN
20      Sai Gupta   37.0      NaN       47.0              53.0
48    Rohan Gupta   37.0      NaN        NaN              85.0
12  Karthik Reddy   36.0      NaN       83.0               NaN
37    Rohan Verma   36.0      NaN        NaN              38.0
36    Arjun Gupta   35.0     41.0        NaN              88.0
4       Sai Gupta    NaN      NaN        NaN              92.0
8     Rahul Reddy    NaN     51.0        NaN              83.0
9     Rahul Singh    NaN     56.0       90.0              55.0
10    Rahul Kumar    NaN      NaN       46.0               NaN
14   Nikhil Patel    NaN      NaN        NaN              76.0
15    Aarav Reddy    NaN      NaN       89.0              63.0
17  Karthik Kumar    NaN     68.0       63.0              58.0
21    Rohan Verma    NaN      NaN        NaN               NaN
22    Arjun Gupta    NaN     49.0        NaN              98.0
23    Rohan Singh    NaN     50.0        NaN              67.0
24    Aarav Gupta    NaN     99.0        NaN              55.0
27    Aditya Iyer    NaN     78.0       92.0               NaN
29  Karthik Gupta    NaN      NaN        NaN              88.0
31     Sai Sharma    NaN     42.0        NaN               NaN
32   Vivaan Verma    NaN      NaN        NaN              98.0
33    Rahul Singh    NaN      NaN        NaN              88.0
35   Aditya Singh    NaN      NaN       60.0              57.0
38    Aarav Gupta    NaN      NaN        NaN               NaN
39   Suresh Mehta    NaN      NaN       35.0              73.0
42      Rohan Das    NaN     92.0       82.0              56.0
45   Suresh Kumar    NaN     94.0        NaN               NaN
47      Arjun Das    NaN      NaN        NaN              49.0
49    Aarav Reddy    NaN     44.0        NaN               NaN

In [5]:
df_sort2 = df.sort_values(['Computer_Science','Physics'])

In [6]:
df_sort2

     Student_Name  Maths  Physics  Chemistry  Computer_Science
18    Rahul Mehta   75.0     72.0        NaN              38.0
37    Rohan Verma   36.0      NaN        NaN              38.0
7    Aditya Patel   51.0     40.0        NaN              47.0
2    Vivaan Singh   95.0     40.0        NaN              49.0
47      Arjun Das    NaN      NaN        NaN              49.0
20      Sai Gupta   37.0      NaN       47.0              53.0
9     Rahul Singh    NaN     56.0       90.0              55.0
24    Aarav Gupta    NaN     99.0        NaN              55.0
42      Rohan Das    NaN     92.0       82.0              56.0
35   Aditya Singh    NaN      NaN       60.0              57.0
17  Karthik Kumar    NaN     68.0       63.0              58.0
44  Karthik Kumar   52.0      NaN       69.0              62.0
15    Aarav Reddy    NaN      NaN       89.0              63.0
5     Aarav Mehta   87.0      NaN       78.0              66.0
23    Rohan Singh    NaN     50.0        NaN              67.0
1       Arjun Das   94.0     98.0       45.0              68.0
39   Suresh Mehta    NaN      NaN       35.0              73.0
26   Aditya Mehta   59.0     85.0       39.0              76.0
14   Nikhil Patel    NaN      NaN        NaN              76.0
0     Arjun Singh   49.0     55.0       48.0              80.0
8     Rahul Reddy    NaN     51.0        NaN              83.0
48    Rohan Gupta   37.0      NaN        NaN              85.0
36    Arjun Gupta   35.0     41.0        NaN              88.0
29  Karthik Gupta    NaN      NaN        NaN              88.0
33    Rahul Singh    NaN      NaN        NaN              88.0
16    Rahul Singh   73.0     37.0        NaN              92.0
4       Sai Gupta    NaN      NaN        NaN              92.0
46   Nikhil Verma   90.0      NaN        NaN              93.0
22    Arjun Gupta    NaN     49.0        NaN              98.0
30   Vivaan Patel   47.0      NaN        NaN              98.0
32   Vivaan Verma    NaN      NaN        NaN              98.0
31     Sai Sharma    NaN     42.0        NaN               NaN
49    Aarav Reddy    NaN     44.0        NaN               NaN
43    Arjun Verma   39.0     56.0       57.0               NaN
25   Suresh Kumar   90.0     64.0        NaN               NaN
27    Aditya Iyer    NaN     78.0       92.0               NaN
13  Aditya Sharma   72.0     87.0        NaN               NaN
28     Arjun Iyer   93.0     91.0        NaN               NaN
6    Suresh Gupta   70.0     92.0        NaN               NaN
45   Suresh Kumar    NaN     94.0        NaN               NaN
40   Suresh Gupta   49.0     98.0       48.0               NaN
3    Vivaan Patel   85.0      NaN       47.0               NaN
10    Rahul Kumar    NaN      NaN       46.0               NaN
11        Sai Das   52.0      NaN        NaN               NaN
12  Karthik Reddy   36.0      NaN       83.0               NaN
19    Vivaan Iyer   95.0      NaN        NaN               NaN
21    Rohan Verma    NaN      NaN        NaN               NaN
34    Rahul Verma   43.0      NaN       77.0               NaN
38    Aarav Gupta    NaN      NaN        NaN               NaN
41   Aditya Verma   75.0      NaN        NaN               NaN

In [7]:
df = df[['Student_Name','Physics','Computer_Science','Maths','Chemistry']]

In [8]:
df

     Student_Name  Physics  Computer_Science  Maths  Chemistry
0     Arjun Singh     55.0              80.0   49.0       48.0
1       Arjun Das     98.0              68.0   94.0       45.0
2    Vivaan Singh     40.0              49.0   95.0        NaN
3    Vivaan Patel      NaN               NaN   85.0       47.0
4       Sai Gupta      NaN              92.0    NaN        NaN
5     Aarav Mehta      NaN              66.0   87.0       78.0
6    Suresh Gupta     92.0               NaN   70.0        NaN
7    Aditya Patel     40.0              47.0   51.0        NaN
8     Rahul Reddy     51.0              83.0    NaN        NaN
9     Rahul Singh     56.0              55.0    NaN       90.0
10    Rahul Kumar      NaN               NaN    NaN       46.0
11        Sai Das      NaN               NaN   52.0        NaN
12  Karthik Reddy      NaN               NaN   36.0       83.0
13  Aditya Sharma     87.0               NaN   72.0        NaN
14   Nikhil Patel      NaN              76.0    NaN        NaN
15    Aarav Reddy      NaN              63.0    NaN       89.0
16    Rahul Singh     37.0              92.0   73.0        NaN
17  Karthik Kumar     68.0              58.0    NaN       63.0
18    Rahul Mehta     72.0              38.0   75.0        NaN
19    Vivaan Iyer      NaN               NaN   95.0        NaN
20      Sai Gupta      NaN              53.0   37.0       47.0
21    Rohan Verma      NaN               NaN    NaN        NaN
22    Arjun Gupta     49.0              98.0    NaN        NaN
23    Rohan Singh     50.0              67.0    NaN        NaN
24    Aarav Gupta     99.0              55.0    NaN        NaN
25   Suresh Kumar     64.0               NaN   90.0        NaN
26   Aditya Mehta     85.0              76.0   59.0       39.0
27    Aditya Iyer     78.0               NaN    NaN       92.0
28     Arjun Iyer     91.0               NaN   93.0        NaN
29  Karthik Gupta      NaN              88.0    NaN        NaN
30   Vivaan Patel      NaN              98.0   47.0        NaN
31     Sai Sharma     42.0               NaN    NaN        NaN
32   Vivaan Verma      NaN              98.0    NaN        NaN
33    Rahul Singh      NaN              88.0    NaN        NaN
34    Rahul Verma      NaN               NaN   43.0       77.0
35   Aditya Singh      NaN              57.0    NaN       60.0
36    Arjun Gupta     41.0              88.0   35.0        NaN
37    Rohan Verma      NaN              38.0   36.0        NaN
38    Aarav Gupta      NaN               NaN    NaN        NaN
39   Suresh Mehta      NaN              73.0    NaN       35.0
40   Suresh Gupta     98.0               NaN   49.0       48.0
41   Aditya Verma      NaN               NaN   75.0        NaN
42      Rohan Das     92.0              56.0    NaN       82.0
43    Arjun Verma     56.0               NaN   39.0       57.0
44  Karthik Kumar      NaN              62.0   52.0       69.0
45   Suresh Kumar     94.0               NaN    NaN        NaN
46   Nikhil Verma      NaN              93.0   90.0        NaN
47      Arjun Das      NaN              49.0    NaN        NaN
48    Rohan Gupta      NaN              85.0   37.0        NaN
49    Aarav Reddy     44.0               NaN    NaN        NaN

In [9]:
col = df.pop('Maths')

In [10]:
df.insert(1,'Maths',col)

In [11]:
df

     Student_Name  Maths  Physics  Computer_Science  Chemistry
0     Arjun Singh   49.0     55.0              80.0       48.0
1       Arjun Das   94.0     98.0              68.0       45.0
2    Vivaan Singh   95.0     40.0              49.0        NaN
3    Vivaan Patel   85.0      NaN               NaN       47.0
4       Sai Gupta    NaN      NaN              92.0        NaN
5     Aarav Mehta   87.0      NaN              66.0       78.0
6    Suresh Gupta   70.0     92.0               NaN        NaN
7    Aditya Patel   51.0     40.0              47.0        NaN
8     Rahul Reddy    NaN     51.0              83.0        NaN
9     Rahul Singh    NaN     56.0              55.0       90.0
10    Rahul Kumar    NaN      NaN               NaN       46.0
11        Sai Das   52.0      NaN               NaN        NaN
12  Karthik Reddy   36.0      NaN               NaN       83.0
13  Aditya Sharma   72.0     87.0               NaN        NaN
14   Nikhil Patel    NaN      NaN              76.0        NaN
15    Aarav Reddy    NaN      NaN              63.0       89.0
16    Rahul Singh   73.0     37.0              92.0        NaN
17  Karthik Kumar    NaN     68.0              58.0       63.0
18    Rahul Mehta   75.0     72.0              38.0        NaN
19    Vivaan Iyer   95.0      NaN               NaN        NaN
20      Sai Gupta   37.0      NaN              53.0       47.0
21    Rohan Verma    NaN      NaN               NaN        NaN
22    Arjun Gupta    NaN     49.0              98.0        NaN
23    Rohan Singh    NaN     50.0              67.0        NaN
24    Aarav Gupta    NaN     99.0              55.0        NaN
25   Suresh Kumar   90.0     64.0               NaN        NaN
26   Aditya Mehta   59.0     85.0              76.0       39.0
27    Aditya Iyer    NaN     78.0               NaN       92.0
28     Arjun Iyer   93.0     91.0               NaN        NaN
29  Karthik Gupta    NaN      NaN              88.0        NaN
30   Vivaan Patel   47.0      NaN              98.0        NaN
31     Sai Sharma    NaN     42.0               NaN        NaN
32   Vivaan Verma    NaN      NaN              98.0        NaN
33    Rahul Singh    NaN      NaN              88.0        NaN
34    Rahul Verma   43.0      NaN               NaN       77.0
35   Aditya Singh    NaN      NaN              57.0       60.0
36    Arjun Gupta   35.0     41.0              88.0        NaN
37    Rohan Verma   36.0      NaN              38.0        NaN
38    Aarav Gupta    NaN      NaN               NaN        NaN
39   Suresh Mehta    NaN      NaN              73.0       35.0
40   Suresh Gupta   49.0     98.0               NaN       48.0
41   Aditya Verma   75.0      NaN               NaN        NaN
42      Rohan Das    NaN     92.0              56.0       82.0
43    Arjun Verma   39.0     56.0               NaN       57.0
44  Karthik Kumar   52.0      NaN              62.0       69.0
45   Suresh Kumar    NaN     94.0               NaN        NaN
46   Nikhil Verma   90.0      NaN              93.0        NaN
47      Arjun Das    NaN      NaN              49.0        NaN
48    Rohan Gupta   37.0      NaN              85.0        NaN
49    Aarav Reddy    NaN     44.0               NaN        NaN